node_modules
.vscode
.idea
.eslintrc.yml
.gitignore
.dockerignore
.huskyrc
.git
Dockerfile
gw.yaml
VERSION
LICENSE
README.md
readme.md
scripts
LAST_PULL
LAST_PULL_GW
CURRENT_GW
LATEST_GW
build
.git
Jenkinsfile